<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <!--spring.net配置容器-->
    <context>
      <!--将对象实例的配置  放置到哪里-->
      <!--三种配置的方法-->  
      <resource uri="config://spring/objects"/>
      <resource uri="file://Dal.xml"/>
      <resource uri="assembly://SpringNetDemoOne/SpringNetDemoOne/Dal.xml"/>  <!--程序集名称/项目名称/文件-->

    </context>
    <objects xmlns="http://www.springframework.net">
      <!--具体的对象实例配置-->
      <!--type 第一个是对象的全路径  第二个是程序集的名称-->
      <object name="UserInfo" type="SpringNetDemoOne.UserInfo,SpringNetDemoOne">
        
      </object>

    </objects>
  </spring>




  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>